body {
    font-family: 'Raleway', sans-serif;
}

.navbar__item {
    @include small
}

.header__titulo {
    @include xxxxx-large
}

.caracteristicas__titulo {
    color: $raising-black;
    text-align: center;
    @include x-large
    
}


.card__precio {
    color: $white;
    @include x-large
}

.texto__footer {
    color: $white;
    @include x-small 
}