body {
    font-family: 'Raleway', sans-serif;
}

.header__titulo {
    @include xxxxx-large
}

.header__parrafo, .caracteristicas__texto-parrafo {
    @include medium
}

.caracteristicas__titulo {
    color: $raising-black;
    text-align: center;
    @include x-large
    
}

.caracteristicas__texto-titulo {
    @include large   
}

.card__precio {
    color: $white;
    @include x-large
}

.texto__footer {
    color: $white;
    @include x-small 
}