.header {
    
    &__titulo {
        margin-top: 100px;
    }

    &__texto {
        padding-left: 30px;
        padding-right: 30px;
        width: 400px;
    }

    &__imagen {

        background-image: url(../img/bg-hero.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 300px;
        margin-right: 0;
    
        
    }

}

@media (min-width: 576px) {

    .header__imagen {
        width: 100vw;
        height: 500px;

    }
}

