.caracteristicas {
    
    &__titulo {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    &__texto, &__imagen {
        padding-left: 100px;
    }

    &__texto {
        width: 300px;
    }

}

@media (min-width: 576px) {
    .caracteristicas__imagen{
        padding-left: 250px;
        
    }

    .caracteristicas__texto {
        padding-left: 30px;
    }
}



.animation-element {
    opacity: 0;
    transition: all 500ms linear;
    transform: translate3d(0px, 20px, 0px);
    transition-delay: 1s;
    position: relative;
}

.animation-element.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}